#home-body {
  background-image: url("https://cdn.pixabay.com/photo/2015/06/02/12/59/narrative-794978_960_720.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}

#search-body {
  background-color: rgb(255, 246, 233);
}

.bg-orange {
  background-color: #34170D;
}

#quote {
  text-align: center;
  margin: 7%;
  font-weight: bold;
  color: white;
  text-shadow:  rgb(26, 12, 7) 0px 0px 15px;
}

#home-quote {
  font-size: 4vw;
}

#seuss {
  font-size: 3vw;
}

#search-form {
  padding: 5%;
}

#library-header {
  text-align: center;
  margin-top: 20px;
}

#search-results {
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  padding: 5%;
  width: fit-content;
}

.results-table {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

#heart-book {
  width: 40%;
  float: right;
}

.submitbutton {
  margin-top: 15px;
}

#addition_results {
  font-size: 18px;
  margin-left: auto;
  margin-right: auto;
  padding-top:20px;
  text-align: center;
}

#lexile-table {
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  padding: 5%;
  width: fit-content;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

#delete-message {
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .results-table {
    width: 100%;
  }

  #search-heading {
    text-align: center;
  }
}